In [7]:
print("hello")
print("hello")

hello
hello

In [8]:
print("hello")

hello

In [10]:
def add(a, b):
    return a + b

print(add(1, 2))
print(add("abc", "def"))

3
abcdef

In [12]:
# comment
"""
asdasdasd
asdasdasdasd
asdasd

"""

'\nasdasdasd\nasdasdasdasd\nasdasd\n\n'

In [13]:
a = "asdasdasd"

In [14]:
a = """

asdasdasd
asdadasd
asdasd

"""

In [17]:
# +, -, *, /, %, ** 
print(3 / 5) # 정수 / 정수 == > 실수
print(3 ** 3)
print(pow(3, 3))

0.6
27
27

In [18]:
import keyword

print(keyword.kwlist) # 변수명으로 사용불가

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [26]:
a = 100
a = 100
print(a)
print("a")

# a vs "a"

100
a

In [35]:
print(a)
print(type(a))

del a
print(a)

100
<class 'int'>

NameError: name 'a' is not defined

In [30]:
# 내장 함수 (build-in function)

In [34]:
print(max(10, 20))
print(min(10, 20))
print(abs(-10))
print(pow(3, 3))
print(chr(97))

20
10
10
27
a

In [45]:
# why does not change ..?
# 

def swap(x,y):
    tmp = y
    y = x
    x = tmp
    print("inner:", x, y)
    return x, y

a = 1
b = 2
print("outer (before):", a, b)
a, b = swap(a, b)
print("outer (after):", a, b)

outer (before): 1 2
inner: 2 1
outer (after): 2 1

In [48]:
a = 1
b = 2
a, b = b, a # 동시 치환 가능
print(a, b)

2 1

In [49]:
a = 10
a += 10
print(a)

20

In [50]:
a = "abc"
a += "def"
print(a) # "abc" + "def"

abcdef

In [54]:
# console input
name = input("name ? ")
print(name)
print(type(name))

name ? a
a
<class 'str'>

In [60]:
# data type
# there is no chracter in python
# k is also string

print(type(3)) # int
print(type(3.00000)) # float
print(type('k')) # str
print(type("k")) # str
print(type(True)) # bool
print(type(False)) # bool

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [66]:
# console input
age = int(input("age ? ")) # input by user --> string
print(age)
print(type(age))

age ? 30
30
<class 'int'>

In [69]:
? int

In [73]:
print("12" + "sally") # ?

# 12 vs "12"
# a vs "a"
# 3 vs 3.0

12sally

In [76]:
# string

In [86]:
str = "hello world"

# indexing
print(str[0])
print(str[1])
print(str[-1])

# slicing (substring)
# [start:stop(excluded):step]
print(str[0:3]) # 0 ~ 2
print(str[0:len(str):2])
print(str[-1:-3]) # not working
print(str[::-1]) # popular

h
e
d
hel
hlowrd

dlrow olleh

In [92]:
print("hello" * 3)
print("-" * 50)

hellohellohello
--------------------------------------------------

In [97]:
# membership test (in, not in)
s = "hello world"
print('h' in s) # true
print('H' in s)
print('world' in s)
print(len(s))

# function()

True
False
True
11

In [ ]:
print(type(True)) # bool