# if (조건문)

In [9]:
a = 1


if a == 1:
    print('a:' + str(1)) 
    print('true', end='\t')
    print('success!')
elif a == 2:
    print('a:', 2, 'elif', 'ssss' , ',', 'dsasd')
else:
    print('else')

a:1
true	success!

In [11]:
def myabs(a):
    if a < 0:
        return -a
    else:
        return a

i = -10
print(myabs(i))

10

# for문

In [19]:
li = ['a', 'b', 'c']


# for each문
for i in li:
    print(i)
    
    
# for + range(start, stop, step)
# range(10) # 0 ~ 9
# range(1, 10) # 1 ~ 9
# range(1, 10, 2) # 1, 3, 5, 7, 9

print(list(range(10))) # start - 0, stop - 10
print(list(range(1, 10)))
print(list(range(1, 10, 2)))

# basic for through index
for i in range(len(li)): # 0 ~ 2
    print(li[i])

a
b
c
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [4]:
# 1 ~ 10중에 홀수만 출력
"""
asdasdas
"""

'''
asdasdasdasd
'''


for i in range(1,6):
    print(2*i-1)
    
for i in range(1, 11):
    if i % 2 == 1:
        print(i)

1
3
5
7
9
1
3
5
7
9

In [21]:
li = ['apple', 'banana', 'kiwi']

print('apple' in li)

for i in range(len(li)):
    if li[i] == 'lemon':
        print('True')
        break        
else: # for문이 정상적으로 수행되었을 때
    print('False')
    
for item in li:
    if item == 'lemon':
        print('True')
        break        
else: # for문이 정상적으로 수행되었을 때
    print('False')

True
False
False

In [19]:
def findVoca(li, voca): # voca: 'apple', 'lemon'
    for i in range(len(li)):
        if li[i] == voca:
            return True
    else:
        return False

li = ['apple', 'banana', 'kiwi']
res = findVoca(li, 'lemon')
print(res)

False

In [20]:
li = [1, 2, 3]
res = findVoca(li, 5)
print(res)

False

In [27]:
li = [1, 2, 3]

for i, item in enumerate(li): # ~~ 열거하다 (인덱스 + 원소값)
    print(i, item)
    
print()

li = 1, 2, 3
print(type(li))

for i, item in enumerate(li): # ~~ 열거하다 (인덱스 + 원소값)
    print(i, item)

0 1
1 2
2 3

<class 'tuple'>
0 1
1 2
2 3

In [ ]:
# pip install numpy, pandas, sklearn,, matplotlib

In [29]:
dic = {'ramen': 3000, 'egg': 500, 'spam':1000}
li = [3000, 500, 1000]

price = 0

while(True):
    menu = input('which one do you want to eat? (exit: q)')
    if menu == 'q':
        break
    price += dic[menu]
    
        
print(price)

which one do you want to eat? (exit: q)ramen
which one do you want to eat? (exit: q)q
3000

In [34]:
# 구구단 출력
# 단; 2 ~ 9
# 곱해지는 수 : 1 ~ 9

for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j ,'=',i*j)
    print()    
    
    
for i in range(2, 10):
    for j in range(1, 10):
        print("%d * %d = %d" % (i, j, i*j))
    print()   
    
    
for i in range(2, 10):
    for j in range(1, 10):
        print("{0} * {1} = {2}".format(i, j, i*j))
    print()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [36]:

# where statment
# 1. initialize
# 2. condition
# 3. increase/decrease

i = 0

while i < 10:
    x = int(input('int ? '))
    if(x % 2): 
        print('fail'); break
    print(x)
else:
    print('success!')

int ? 2
2
int ? 4
4
int ? 5
fail

In [40]:
# fibonacci 
# 0 1 1 2 3 5 8
# 0 1 2 3 4 
# fibo(2) -> 1


def fibo(n):
    res = []
    res.append(0)
    res.append(1)
    
    for i in range(2, n+1):
        add =  res[i-1] + res[i-2]
        res.append(add)
    return res[n]

fibo(3)

2

In [43]:
def fibo(n):
    res = [0 for i in range(n+1)] # 0 ~ n - 1
    print(res)
    res[0] = 0
    res[1] = 1
    
    for i in range(2, n+1):
        res[i] =  res[i-1] + res[i-2]
    return res[n]

fibo(3)

[0, 0, 0, 0]

2

In [44]:
def fibo(n):
    a = 0 # 0번째 항
    b = 1 # 1번째 항
    
    for i in range(2, n+1):
        c = a + b
        a = b
        b = c
    return c

fibo(3)

2

In [45]:
# recursive function (재귀 함수)
# 가독성이 더 좋지만 오래걸림 (n이 커질수록 중복 계산이 많아짐)

def fibo(n):
    # exit condition (종료 구문)
    if n == 0: return 0
    if n == 1: return 1
    
    # recursive call (재귀 호출)
    return fibo(n-1) + fibo(n-2) # recursive

fibo(3)

2

In [48]:
# for sum (1 ~ n)

def sum(n):
    res = 0
    for i in range(1, n+1):
        res += i
    
    return res

sum(5)

15

In [49]:
# recursive sum (1 ~ n)
def sum(n):
    if n == 0: return 0   
    return sum(n - 1) + n

sum(5)

15

In [53]:
def incr(a, step=1):
    return a + step

incr(3) # 3 + 1
incr(5, 2) # 5 + 2

4

In [54]:
def incr(step=1, a=10):
    return a + step

incr(5) # 5 + 10

SyntaxError: non-default argument follows default argument (<ipython-input-54-eb12168530bd>, line 1)

In [56]:
def add(start, end):
    return start + end

add(end=3, start=5) # better in complex function call
add(3, 5) # START=3, END=5

8

In [60]:
def func(*arg): # variable arugment (가변 인자)
    print(type(arg))
    
    for i in arg:
        print(i)
    print()

func() # arg = ()
func(1) # arg = (1)
func(1, 2) # arg = (1,2)

<class 'tuple'>

<class 'tuple'>
1

<class 'tuple'>
1
2

In [63]:
def add(*arg):
    sum = 0
    for i in arg:
        sum += i
    return sum

add(1)

1